* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 300 16px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e7e7e7;
    -webkit-font-smoothing: antialiased;
    color: #545e6f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

